body{
  padding-top: 20px;
}
.container{
  display:flex;
  flex-direction:column;
  align-items: center
}
.reset {
  margin-top:10px;
  height:50px;
  font-size:25px;
  width:640px;
  cursor:pointer;
  }